{% if shop.metafields.custom_fields["mega_menu_bright_clean_img_url"] != blank %}
  <div class="custom-field custom-field__mega-menu-bright-clean-img-url custom-field__type--url">
    <h3 class="custom-field--title">mega_menu bright clean img url</h3>
    <div class="custom-field--value">
      {{ shop.metafields.custom_fields["mega_menu_bright_clean_img_url"] }}
    </div>
  </div>
{% endif %}