{% if shop.metafields.custom_fields["mega_menu_bright_clean_img_m"] != blank %}
  <div class="custom-field custom-field__mega-menu-bright-clean-img-m custom-field__type--image">
    <h3 class="custom-field--title">Mega Menu Bright Clean img m</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: shop.metafields.custom_fields["mega_menu_bright_clean_img_m"] %}
    </div>
  </div>
{% endif %}