{% if shop.metafields.custom_fields["mega_menu_bright_clean_subt"] != blank %}
  <div class="custom-field custom-field__mega-menu-bright-clean-subt custom-field__type--text">
    <h3 class="custom-field--title">Mega Menu Bright Clean Subt</h3>
    <div class="custom-field--value">
      {{ shop.metafields.custom_fields["mega_menu_bright_clean_subt"] }}
    </div>
  </div>
{% endif %}