{% if shop.metafields.custom_fields["mm_bright_clean_img_url_m"] != blank %}
  <div class="custom-field custom-field__mm-bright-clean-img-url-m custom-field__type--url">
    <h3 class="custom-field--title">mm bright clean_img_url_m</h3>
    <div class="custom-field--value">
      {{ shop.metafields.custom_fields["mm_bright_clean_img_url_m"] }}
    </div>
  </div>
{% endif %}