{% if shop.metafields.custom_fields["mega_menu_bright_c_img_url_m"] != blank %}
  <div class="custom-field custom-field__mega-menu-bright-c-img-url-m custom-field__type--url">
    <h3 class="custom-field--title">Mega Menu Bright C img url m</h3>
    <div class="custom-field--value">
      {{ shop.metafields.custom_fields["mega_menu_bright_c_img_url_m"] }}
    </div>
  </div>
{% endif %}